<form [formGroup]="UserInfo"> 
<div>
  First Name: 
  <input type="text" id="fname" name="fname" formControlName="firstName">
</div>
<div>
  Last Name: 
  <input type="text" id="lname" name="lname" formControlName="lastName">
</div>
<div>
  Delivery Address:
  <input type="text" id="dAddress" name="dAddress" formControlName="deliveryAddress">
</div>
<div>
  Billing Address:
  <input type="text" id="bAddress" name="bAddress" formControlName="billingAddress">
</div>
<button type="submit" (click)=SaveUserInfo() >Save</button>
</form>